<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include('../partials/head.ejs', {titulo: "Admin" , estilo: "admin.css" })%>

    <body>
        <!--Header-->
        <%- include('../partials/header.ejs')%>
            <!--Main-->
            <main>
                <%- include('../partials/botonesAdmin.ejs') %>
                    <section>
                        <!--SEARCH-->
                        <form action="/admin/productos/buscar" method="get" class="buscador-caja">
                            <input class="buscador" type="search" name="buscar" placeholder="Buscador">
                        </form>
                        
                    </section>
                    <section>
                    <a href="/admin/crearProducto"><button class="crear-producto primary">Crear Producto</button></a>
                </section>
                    <section class="productos-main-caja">
                        <% for (let i=0; i < productos.length; i++) { %>
                            <article class="productos-caja">
                                <div class="productos-caja-2">
                                    <div>
                                        <strong>Precio:</strong> $<%= productos[i].precio %>
                                    </div>
                                    <div>
                                        <strong>Disponibilidad:</strong> <%= productos[i].disponibilidad %>
                                    </div>
                                    <div>
                                        <strong>Marca:</strong> <%= productos[i].marca %>
                                    </div>
                                    <div>
                                        <strong>Volumen:</strong> <%= productos[i].volumen %>
                                    </div>
                                    <div>
                                        <strong>Descripcion:</strong> <%= productos[i].descripcion %>
                                    </div>
                                    <div class="productos-caja-2-botones">
                                        <a class="productos-caja-2-boton" href="/admin/modificarProducto/<%= productos[i].idproducto %>">Modificar</a>

                                        <form action="/admin/productos/<%= productos[i].idproducto %>?_method=DELETE"
                                            method="post"
                                            class="productos-caja-2-boton">
                                            <button >Borrar</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="productos-caja-1">
                                    <img class="avatar-imagen" src="/img/avatars/<%= productos[i].avatar %>"
                                        alt="avatar">
                                </div>
                            </article>
                            <% } %>
                    </section>
            </main>
            <script src="/js/adminProductos.js"></script>
            <script src="/js/admin.js"></script>
    </body>

</html>