<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {titulo : 'Detalles', estilo : 'detalleproducto.css'}) %>


  <body>
    <%- include('../partials/header')%>

    <main>
      <div class="imgbanner">
        <img src="/img/productos/bannernew2.webp" alt="Imagen banner" />
      </div>
      <div class="flechavolver">
        <i class="fa-solid fa-arrow-left"></i>
        <a href="/productos"><button  >Volver</button></a>
      </div>
      <button class="header-carro">
        <i class="fa-solid fa-cart-arrow-down"></i>
      </button>
      <div id="Cervezas" class="productos-categoria">
        <article class="cerveza1">
          <img src="/img/avatars/<%= producto.avatar %>" alt="Imagen Stella Artois" />
          <div class="detail">
            <div class="product"><%= producto.marca %></div>
            <div class="liters"><%= producto.volumen %> cc</div>
            <div class="price">$<%= producto.precio %></div>
            <div class="delivery">Entrega en menos de 45'</div>
            <div class="desc">Te la entregamos <strong>FRIA</strong></div>
            
            <form action="/productos/agregarcarrito" method="post">
              <input type="hidden" name="cantidad" value="1">
              <!-- Input de tipo hidden con nombre y valor fijos -->
              <input type="hidden" name="idproducto" value="<%= producto.idproducto %>">
              <button type="submit" class="add">AGREGAR</button>
          </form>
          </div>
        </article>
      </div>
      
      <p class="titulo1">Vistos anteriormente</p>
      <%- include('../partials/productosConcurrentes') %>
    </main>

    <%- include('../partials/footer')%>
  </body>
</html>
